* {
    box-sizing: border-box;
}
body {
  background-image: url(../images/Full-Background.png);
  max-width: 960px;
  position: relative;
  margin: auto;
}
p {
  line-height: 1.25;
}
/* Header */
header {
  background: #fff;
	height: 139px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #777777;
	border-bottom: 3px solid #cccccc;
}
/* Chris Cuomo Header */
.header{
  font-size: 36px;
  text-align: center;
  padding: 50px;
  background-color: #4aaaa5;
  float: left;

}
/* Hyper Links */
.navheader{
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
  float: right;
  margin-right: 8px;
  position: relative;
  top: 69px; 
}
.opaq {
  opacity: 0.4;
}
/* hovers on hyper links */
a {
	color: #777777;
	text-decoration: none;
}
a:visited {
	color: #777777;
}

a:hover {
	color: #db9936;
}

#aboutme {
  background: #ffffff;
	padding: 50px; 
  overflow: auto;
  box-shadow: 0px 0px 9px 3px #777777;
}

/* My Image */
 .ChrisCuomo{
  float: left;
  margin: 10px 10px 3px 0px;
  width: 33%;
  }
/* Headers */
h1 {
  color: #ffffff;
  margin-top: 0%;
}
h2 {
  font-size: 2em;
  text-align: left;
  color: #4aaaa5;
  position: relative;
}
/* Paragraph Specials */
#firstp {
  margin-top: 15px;
}
p {
    color: #777777;
}
  p{
    font-family: Arial;
  }
hr {
  border-width: 2px;
  color: #777777;
}
/* Contact Page */
#contacttext {
  text-align: left;
  color: #4aaaa5;
}
#message {
	height: 185px;
  margin-bottom: 10px;
  width: 100%
}
#email {
  margin-bottom: 10px;
  width: 100%
}
#name {
  margin-bottom: 10px;
  width: 100%
}
#contactform {
  box-shadow: 0px 0px 9px 3px #777777;
  background: #ffffff;
  overflow: auto;
  padding: 50px;
}
#submit {
  color: #fff;
    width: 70px;
    height: 30px;
    background: #4aaaa5;
    border: none;
    margin-top: 5px;
    border-radius: 2px;
    font-size: 13px;
}
#submit:hover {
	cursor: pointer;
  background-color: #db9936;
}
/* Portfolio Page */

 .floatedlist {
  float: left;
  width: 33.33%;
  padding: 6px;
  } 
  
  .column img {
    margin-top: 12px;
  }

.portbreak {
  content: "";
  margin: .5em;
  display: block;
}
#portfolio {
  box-shadow: 0px 0px 9px 3px #777777;
  background: #ffffff;
	padding: 50px;
  overflow: auto;
}
.portfolionames {
    color: #ffffff;
    background-color: #4aaaa5;
    line-height: 29px;
    text-align: center;
    position: relative;
    margin-right:5px;
    width: 100%;
    bottom: 37px;
}
#pfoot {
  margin-top: 16px;
}
.footer {
  height: 57px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 8px solid #4aaaa5;
  background-color: #666666;
  color: #777777;
  text-align: center;
}


@media screen and (max-width:980px){

  #contactform {
    margin: 10px 10px 60px 10px;
  	padding: 50px;
  }
  .ChrisCuomo {
    float: left;
    max-width: 250px;
    height: auto;
    margin: 10px 10px 2px 0px;
    }
}
#aboutme {
  margin: 0px 10px 70px 10px
}
#portfolio {
  padding: 50px;
  margin: 10px 10px 120px 10px;
  }

@media screen and (max-width:768px){
   header {
    height: 120px;
  }
  .header {
    height: 117px;
  } 
  .navheader {
    top: 60px;
  } 

  #aboutme {
    margin: 0px 20px 80px 20px;
  }
  .ChrisCuomo {
  float: left;
  max-width: 250px;
  height: auto;
  margin: 10px 10px 2px 0px;
  }
  .floatedlist {
    float: left;
    width: 33.33%;
    padding: 6px;
    }
  #contactform {
  padding: 33px;
  margin: 10px 10px 60px 10px
    }
  }
  #portfolio {
  padding: 44px;
  margin: 10px 10px 90px 10px;
  }
@media screen and (max-width:640px){
  header {
    height: 112px;
  }

  .header {
    height: 109px;
    width: 100%;
    font-size:30px;
    padding: 44px;
  }
  #aboutme {
    	margin: 0px 10px 80px 10px;
    }
.navheader {
    top: 0px;
		text-align: center;
		position: relative;
		background: #fff;
	  margin: 0px 0px 10px 0px;
		padding: 0px;
		height: 40px;
    line-height: 40px;
    width: 100%;

}
h2 {
  font-size: 1.8em;
}
.ChrisCuomo {
  float: left;
  width: 90%;
  max-width: 250px;
  height: auto;
  margin: 15px 5% 15px 1%;
}
#portfolio {
  padding: 20px;
  margin: 10px 10px 60px 10px;
}
.portfolionames {
  line-height: 15px;
  font-size: 14px;
  bottom: 30px;
}
.floatedlist {
  width: 50%;
  
  }
#contactform {
  height: 340px;
  padding: 11px;
  margin: 10px 10px 60px 10px
}
#message {
  height: 120px;
}
}